*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    user-select: none; /* Standard for modern browsers */
    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
.overlay{
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba(74, 74, 74, 0);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(10px);
    transition: background-color 10ms ease, backdrop-filter .4s ease;
    transition: all .1s ease;
}
body{
    background: rgb(87, 85, 85);
    font-family: 'Roboto', sans-serif;
}
.container{
    background: #4A4A4A;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    width: 70vw;
    padding: 1.95vw;
    background: #fff;
    background: #18141c;
    aspect-ratio: 5/3;
    display: grid;
    grid-template-columns: 1.57vw repeat(18, minmax(0.39vw, 1fr));
    grid-template-rows: 1.57vw repeat(7, minmax(0.39vw, 1fr)) 1.17vw repeat(2, minmax(00.39vw, 1fr));
    grid-gap: 0.20vw;
    /* transform: translateX(-100px); */
}
.group-number{
    text-align: center;
    font-size: 0.80vw;
    color: aliceblue;
    transition: all 0.2s ease;
}
.period-number{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .80vw;
    color: aliceblue;
    height: 100%;
    transition: all 0.3s ease;
}
.period-number:hover{
    transform: scale(1.05);
}
.element{
    height: 100%;
    transition: transform 0.07s ease, backdrop-filter 0.3s ease;
    overflow: hidden;
    color: aliceblue;
    cursor: pointer;
    
}
.element-shell{
    aspect-ratio: 1/1;
    font-size: .64vw;
    overflow: hidden;
    position: relative;
    justify-content: center;
    align-content: center;
    padding: 0.39vw;
}
.element > .element-shell > .symbol{
    position: absolute;
    font-size: 1vw;
    font-weight: 400;
    top: 0.9vw;
    left: 0.39vw;
    transition: all 0.2s ease;
}
.element > .element-shell > .atomic-number{
    position: absolute;
    top: 0.39vw;
    right: 0.39vw;
    font-size: .51vw;
    font-weight: 400;
    text-align: right;
    display: inline;
    transition: all 0.2s ease;
}
.element > .element-shell > .name{
    position: absolute;
    font-size: 0.41vw;
    font-weight: 400;
    transition: all 0.2s ease;
    top: 2.3vw;
    left: 0.39vw;
}
.element > .element-shell > .atomic-weight{
    position: absolute;
    font-size: 0.41vw;
    font-weight: 400;
    transition: all 0.2s ease;
    top: 2.9vw;
    left: 0.39vw;
}
/* .nides{
    display: flex;
    color: aliceblue;
    font-size: 0.51vw;
    font-weight: 600;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.nides{
    transition: all .3s ease;
}
.nides:hover{
    filter: brightness(.8);
}
.nides > div:first-child{
    font-size: 0.6vw;
    padding-top: .8vw;
} */
.noids{
    display: flex;
    color: aliceblue;
    font-size: 0.51vw;
    font-weight: 600;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.noids{
    transition: all .3s ease;
}
.noids:hover{
    filter: brightness(.8);
    cursor: pointer;
}
.noids > div:first-child{
    font-size: 0.6vw;
    padding-top: .8vw;
}
.element-info{
    position: absolute;
    /* display: none; */
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 100%;
    transition: top .3s ease;
    /* filter: blur(10px); */
}
.info{
    font-size: 0.15vw;
    display: flex;
    justify-content: space-between;
    padding: 0.078vw 0.156vw;
    transform: translateY(5px);
}
.info{
    opacity: 0;
}
.info:first-child{
    padding-top: 0.3vw;
}
.info:last-child{
    text-align: right;
}
.animate:nth-child(1){
    animation: infoAnimation 0.2s ease-in-out 0.25s 1 normal forwards;
}
.animate:nth-child(2){
    animation: infoAnimation 0.2s ease-in-out 0.28s 1 normal forwards;
}
.animate:nth-child(3){
    animation: infoAnimation 0.2s ease-in-out 0.31s 1 normal forwards;
}
.animate:nth-child(4){
    animation: infoAnimation 0.2s ease-in-out 0.34s 1 normal forwards;
}
.animate:nth-child(5){
    animation: infoAnimation 0.2s ease-in-out 0.37s 1 normal forwards;
}
.animate:nth-child(6){
    animation: infoAnimation 0.2s ease-in-out 0.40s 1 normal forwards;
}
.animate:nth-child(7){
    animation: infoAnimation 0.2s ease-in-out 0.43s 1 normal forwards;
}
.animate:nth-child(8){
    animation: infoAnimation 0.2s ease-in-out 0.46s 1 normal forwards;
}
@keyframes infoAnimation {
    0%{
        transform: translateY(0.20vw);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
#enter-side-panel{
    position: absolute;
    right: 0;
    width: 5vw;
    height: 100vh;
    z-index: 110;
}
.side-panel{
    position: absolute;
    height: 100vh;
    width: 0;
    right: 0;
    background: #222;
    transition: width 0.3s ease-in-out;
    z-index: 110;
}
#arrow{
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    background:#131313;
    width: 1.2vw;
    height: 3vw;
    left: -1.2vw;
    clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 85%);
    border-top-left-radius: 0.664vw;
    border-bottom-left-radius: 0.664vw;
    justify-content: space-around;
    align-items: center;
}
#arrow::after{
    content: '';
    width: 0.11vw;
    height: 1.5vw;
    background: #4d4d4d;
    top: 0;
    border-radius: 25%;
    margin-right: 0.2vw;
}
#arrow::before{
    content: '';
    width: 0.11vw;
    height: 1vw;
    background: #4d4d4d;
    top: 0;
    border-radius: 25%;
    margin-left: 0.2vw;
}
#arrow:hover{
    cursor: pointer;
}
.data{
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
    /* margin-left: 1vw;
    margin-right: 1vw; */
    overflow: hidden;
}
#element-info{
    position: absolute;
    /* left: -100px; */
    width: 100%;
    /* padding: 20px; */
    aspect-ratio: 1/1;
    background: #18141c;
    color: aliceblue;
    font-size: 20px;
}
#atom{
    background: white;
    opacity: .2;
    /* height: 11vw;
    width: 11vw; */
    /* aspect-ratio: 1/1; */
}
.element-name-symbol{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(calc(-50% + .5vw));
    text-align: center;
    transition: all .3s ease;
}
#elementAtomicNum{
    position: absolute;
    right: 0.390625vw;
    top: 0.390625vw;
    font-size: 1vw;
    text-shadow: rgb(225, 225, 225) 0px 0px 0.78vw;
}
#elementSymbol{
    font-size: 4vw;
    text-shadow: rgb(225, 225, 225) 0px 0px 0.78vw;
}
#elementName{
    font-size: 0.78125vw;
    font-size: 1vw;
    text-shadow: rgb(225, 225, 225) 0px 0px 0.78vw;
}
#electronConfig{
    position: absolute;
    top: 0;
    margin: 0.390625vw;
    text-shadow: rgb(225, 225, 225) 0px 0px 0.78vw;
}
.electron-config-data{
    text-align: center;
    font-size: 0.9375vw;
}
#wikipedia{
    position: absolute;
    padding: 0.2vw;
    border: 0;
    outline: none;
    border-radius: 0;
    /* top: 8.3984375vw; */
    bottom: 1vw;
    left: 50%;
    transform: translateX(-50%) translateY(0%);
    transition: all .3s ease;
    opacity: 0%;
}
#wikipedia > a{
    list-style: none;
    text-decoration: none;
    /* background-color: #131313; */
    color: aliceblue;
    font-size: 0.5vw;
    font-weight: 500;
    transition: all .3s ease;
}
#wikipedia > a:hover{
    font-weight: 900;
    font-size: .7vw;
    text-shadow: rgb(225, 225, 225) 0 0 0.78vw;
}
.data{
    background: #18141c;
}
.side-overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: #18141c;
    width: 3vw;
    transition: all .5s ease;
}
#properties{
    margin-top: 11.5vw;
}
.accordion{
    background: #18141c;
}
.accordion:hover{
    cursor: pointer;
}
.accordion-subheader{
    color: #bebebe;
    font-weight: 500;
    transition: all 0.1s ease;
}
.accordion-header:hover .accordion-subheader {
    color:aliceblue;
    /* font-weight: 900; */
    /* font-size: .85vw; */
}
.accordion-header{
    width: 9.8vw;
    display: flex;
    aspect-ratio: 5/1;
    background: #18141c;
    color: aliceblue;
    justify-content: space-between;
    align-items: center;
    font-size: .8vw;
    padding: 0.4vw 0.6vw;
}
.hbar{
    background: #4A4A4A;
    width: 10vw;
    height: 0.1953vw;
    border-radius: 0.1953vw;
    margin: auto;
}
.content{
    width: 100%;
    height: 0px;
    transition: all .3s ease;
}